<!DOCTYPE html>
{%extends "index.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{%block content%}
<center>
<div class="card border-info mb-3" style="max-width: 20rem;">
  <div class="card-header">JULIAN RACHITZKY</div>
  <div class="card-body">
    <h4 class="card-title">Un poco sobre mi...</h4>
    <p class="card-text"> Tengo 22 años y soy estudiante de la Lic en ciencias de datos.
        <br>
        Soy amante de la tecnología y me apasiona pensar en lo que se puede llegar a hacer con ella.
    </p>
    <h5 class="card-title">¿Que hago actualmente?</h5>
    <p>
        Actualmente me encuentro trabajando como analista de Business Inteligence dentro de MELI.
    </p>
    <h5 class="card-title">Hobbies</h5>
    <p>
        En mis tiempos libres disfruto mucho del deporte, del pasto, de los viajes y de los
    </p>
  </div>
</center>

 {%endblock%}
</body>
</html>