<!DOCTYPE html>
{%extends "base.html"%}

{% block title %}
<title>Nosotros</title>
{% endblock title %} 

 {% block header %} 
 <center> 
  <div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">JULIAN RACHITZKY</div>
    <div class="card-body">
      <h4 class="card-title">Un poco sobre mi...</h4>
      <p class="card-text"> Tengo 22 años y soy estudiante de la Lic en ciencias de datos.
          <br>
          Soy amante de la tecnología y me apasiona pensar en lo que se puede llegar a hacer con ella.
      </p>
      <h5 class="card-title">¿Que hago actualmente?</h5>
      <p>
          Actualmente me encuentro trabajando como analista de Business Inteligence dentro de MELI.
      </p>
      <h5 class="card-title">Hobbies</h5>
      <p>
          En mis tiempos libres disfruto mucho del deporte, del pasto, de los viajes y de los
      </p>
    </div>
 </center>
 <center>
    <div>
      <a href={% url "sofi"%} class="btn btn-primary btn-lg active" role="button">Sofia Borghese </a>
      <a href={% url "vict"%} class="btn btn-primary btn-lg active" role="button">Victor Suarez </a>
    </div>
  </center>
{% endblock header %}
