{% extends "index.html"%}
{% block title %}
<title>Logout</title>
{% endblock title %}
{% block content%}
<center> {{request.user.username}}<h2> Has cerrado sesión de forma exitosa </h2>
<p>Esperamos verte pronto. Y recuerda...</p></center>
   
    <figure class="text-center">
        <blockquote class="blockquote">
          <p class="mb-0">El mundo es un libro y aquellos que no viajan leen una sola página</p>
        
        </blockquote>
        <figcaption class="blockquote-footer">
          El blog de tus viajes<cite title="Source Title"></cite>
        </figcaption>
      </figure>
</h1>
{% endblock %}