<!DOCTYPE html>
{%extends "base.html"%}

{% block title %}
<title>Nosotros</title>
{% endblock title %} 

{% block header %} 
    <center> <H1> ¿Quiénes somos? </H1> 
    <a href={% url "sofi"%} class="btn btn-primary btn-lg active" role="button">Sofia Borghese </a>
    <a href={% url "juli"%} class="btn btn-primary btn-lg active" role="button">Julian Rachitzky </a>
    <a href={% url "vict"%} class="btn btn-primary btn-lg active" role="button">Victor Suarez </a>
    </center>
{% endblock header %}


{% comment %} 

{% block content %}

<center> <H1> ¿Quiénes somos? </H1> 
<a href={% url "sofi"%} class="btn btn-primary btn-lg active" role="button">Sofia Borghese </a>
<a href={% url "juli"%} class="btn btn-primary btn-lg active" role="button">Julian Rachitzky </a>
<a href={% url "vict"%} class="btn btn-primary btn-lg active" role="button">Victor Suarez </a>
</center>


{%endblock%} {% endcomment %}



</body>
</html>