<!DOCTYPE html>
{%extends "base.html"%}

{% block title %}
<title>Nosotros</title>
{% endblock title %} 

  {% block header %} 
<center>
  <div class="card border-info mb-3" style="max-width: 20rem;">
  <div class="card-header">SOFÍA BORGHESE</div>
  <div class="card-body">
    <h4 class="card-title">Un poco sobre mi...</h4>
    <p class="card-text"> Tengo 24 años. Soy licenciada en Comercialización. Me encanta viajar, conocer personas, paisajes y culturas nuevas</p>
  </div>
</center>
  <center>
     <div>
       <a href={% url "juli"%} class="btn btn-primary btn-lg active" role="button">Julian Rachitzky </a>
       <a href={% url "vict"%} class="btn btn-primary btn-lg active" role="button">Victor Suarez </a>
     </div>
   </center>
 {% endblock header %}
